$dark-gray: #484848;
$snow: #fffafa;
$lemon-yellow:#FFCE00;
$pastel-orange: #fa9200;
$dark-teal: #006767;
$light-cream: #ffeddc;



$primary-color: $snow;
$secondary-color: $dark-gray;
$header-hover-color: $pastel-orange;
$header-logo-text-color: $dark-teal;
$nav-background-color: #ffeddc;

$heading-color: $lemon-yellow;