
$header-font-size: 20px;
$heading-font-family: "Helvetica Neue", sans-serif;
$nav-font-family: "Courier New";
$heading-logo-text-size: 30px;

$button-font-family:"Garamond";
$button-font-size: 20px;

$questions-font-family: "Helvetica Neue", sans-serif;
$questions-font-size: 22px;
$flight-number-question-font-size: 42px;

$place-font-size: 30px;
$place-font-family: "Helvetica Neue", sans-serif;