
$default-font-family: "Garamond";
$sans-serif-font-family: "Helvetica Neue", sans-serif;

// Navbar font stuff
$header-font-size: 20px;
$heading-font-family: "Helvetica Neue", sans-serif;
$nav-font-family: "Courier New";
$heading-logo-text-size: 30px;

// Sidebar font stuff
$sidebar-heading-font-size: 50px;
$sidebar-list-font-size: 22px;

// Main Page Font Stuff
$heading-name-font-size: 105px;

// New Trip Fonts
$button-font-family:"Garamond";
$button-font-size: 20px;

$questions-font-family: "Helvetica Neue", sans-serif;
$questions-font-size: 22px;
$flight-number-question-font-size: 42px;

$place-font-size: 30px;
$place-font-family: "Helvetica Neue", sans-serif;

// Trip Info Fonts
$list-heading-font-size: 36px;