@import "colors";
@import "fontStuff";

.main-body
{
    margin: 0;
}

.questions-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

//
// Label Stuff
//
.question-label
{
    font-size: $questions-font-size;
    font-family: $questions-font-family;
    // color: $secondary-color;
    text-align: center;
    margin-top: 15px;
}

#flight-number-label
{
    font-size: $flight-number-question-font-size;
    margin-top: 100px;
}

//
// Input Option Stuff
//

#flight-number-container
{
    width: 40%;
    max-width: 450px;
    min-width: 300px;
    height: 50px;
    margin-top: 35px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px;
    
}

#flight-number
{
    padding: 0 5px 0 5px;
    margin: 0 auto;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-family: $questions-font-family;
    border:none;
}

#dont-know-button
{
    position: relative;
    padding: 0 5px 0 5px;
    border: none;
    right: 10px;
    width: 210px;
    height: 100%;
    background: #c9c9c9;
    color: #555;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 20px;
    font-family: $questions-font-family;

    border-radius: 5px;
    margin-right: 50px;
}

#dont-know-button:hover
{
    background-color: #888;
}

.date-picker
{
    margin-top: 20px;
    font-size: $questions-font-size;
    font-family: $questions-font-family;
    padding: 5px;
    border-radius: 5px;
}

//
// Button Stuff
//
.button-type-1
{
    background-color: $buttons-primary-color1;
    border: none;
    color: $buttons-secondary-color1;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: $button-font-size;
    font-family: $button-font-family;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 10px;
}

.button-type-1:hover
{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    filter: brightness(70%);
}

.button-type-2
{
    background-color: $buttons-primary-color2;
    border: none;
    color: $buttons-secondary-color2;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: $button-font-size;
    font-family: $button-font-family;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 10px;
}

.button-type-2:hover
{
    box-shadow: 0 12px 16px 0 rgba(1,0,1,0.32),0 17px 50px 0 rgba(0,0,0,0.16);
    filter: brightness(70%);
}

#next-button
{
    margin-top: 42px;
}